{% extends "base.html" %}
{% block title %}Testrule Check{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
{% block menu %}
    <ul class="sidebar-nav">
					<li class="sidebar-nav-link">
						<a href="{% url "index" %}">
							<i class="am-icon-home sidebar-nav-link-logo"></i> 首页
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url 'result_dis' %}">
							<i class="am-icon-clone sidebar-nav-link-logo"></i> 检测结果查看
							<span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm"></span>
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "test_source" %}">
							<i class="am-icon-table sidebar-nav-link-logo" style="color: #0c80ba"></i> 检测来源设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "testrule" %}" class="active">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测规则设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "speed" %}" >
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测批数设置
						</a>
					</li>
                    <li class="sidebar-nav-heading"></li>
                    <li class="sidebar-nav-link">
                    </li>
			</div>
        </ul>
{% endblock %}
            {% block content %}
			<!-- 内容区域 -->

			<div class="tpl-content-wrapper">

				<div class="container-fluid am-cf">
					<div class="row">
						<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 检验规则展示 <small>共<strong style="color: yellowgreen;font-size: larger">{{ result }}</strong>条规则</small></div>
							<p class="page-header-description">目前只支持HTTP检测。</p>
						</div>
                        <div class="page-header-heading" style="margin-bottom: 10px;">快速查询<small>最少输入3位</small></div>
                        <div class="am-fl tpl-header-search" style="margin-left: 1px;">
						<form class="tpl-header-search-form" action="{% url "rulesearch" %}" method="post">
                            {% csrf_token %}
                            <select style="margin-left: 1150px;height: 30px"  id="select" name="myselect">
                                        <option value="1" name="page">检验名字</option>
                                        <option value="2" name="month">路由</option>
                                        <option value="3" name="origin_id">COOKIE</option>
                                      </select>
                            <input  type="text"  placeholder="搜索内容..." style="width: 150px;height: 30px;border: 1px solid yellowgreen" name="stuff">
                            <button class="tpl-header-search-btn am-icon-search" type="submit"></button>
                            {% if errors %}
                            <div class="page-header-heading" style="color: yellowgreen;font-size: medium;margin-left: 1150px" id="caption">{{ errors }}</div>
                                {% endif %}
                            {% if success %}
                                <div class="page-header-heading" style="color: yellowgreen;font-size: medium;margin-left: 1150px" id="caption">您查找:   {{ sort }}</div>
                            {% endif %}
						</form>

					</div>
<div class="am-u-lg-3 tpl-index-settings-button" style="margin-left: 1200px;">
                            <a href="{% url "testruleup" %}"><button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 新增</button></a>
                    </div>
				</div>

				<div class="row-content am-cf">
		                	<div class="row  am-cf">
					<div class="row am-cf">

					<div class="row am-cf">

						<div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg">

							<div class="widget am-cf widget-body-lg">

								<div class="widget-body  am-fr">
									<div class="am-scrollable-horizontal ">
										<table width="200%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
											<thead>
												<tr>
													<th style="font-size: 20px">检验名字</th>
                                                    <th style="font-size: 20px">路由</th>
                                                    <th style="font-size: 20px">COOKIE</th>
                                                    <th style="font-size: 20px">操作</th>
												</tr>
											</thead>
											<tbody>
                                            {% for re in users.object_list %}
                                                <tr class="gradeX" style="width:200px; height:50px;">
													<td>{{ re.name }} </td>
													<td>{{ re.url }} </td>
                                                    <td>{{ re.cookie  }}</td>
                                                       <td> <div class="tpl-table-black-operation" >
                                                        <a href="{% url "testruledel" re.id %}" style="font-size: 20px">
                                                            <i class="am-icon-pencil"></i> 删除
                                                        </a>
                                                    </div></td>
												</tr>
                                            {% endfor %}
                                            </tbody>
										</table>
                                            <nav aria-label="Page navigation" style="margin-left: 1000px">
                                            <ul class="pagination">
                                                {% if users.has_previous %}
                                                    <li>
                                                    <a class="type-vale" href="?page={{ users.previous_page_number }}&type={{ type }}&sort={{ sort }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                                    </li>
                                                {% endif %}

                                               {% for pg in users.paginator.pager_num_range %}
                                                {% if pg == users.number %}
                                                <li class="active"><a class="type-vale" href="?page={{ pg }}&type={{ type }}&sort={{ sort }}">{{ pg }}</a></li>
                                                {% else %}
                                                <li><a class="type-vale" href="?page={{ pg }}&type={{ type }}&sort={{ sort }}">{{ pg }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if users.has_next %}
                                                    <li>
                                                        <a class="type-vale" href="?page={{ users.next_page_number }}&type={{ type }}&sort={{ sort }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                                {% endif %}
                                                    <span style="font-size: 20px;margin-left: 30px">{{ users.number }} /{{ users.paginator.num_pages }}</span>
                                            </ul>
                                            </nav>
                                    </div>
							</div>

						</div>
					</div>
				</div>
			</div>
        {% endblock %}
     {% block js %}{% endblock %}
