{% extends "base.html" %}
{% block title %}Test Source Setting{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
{% block menu %}
				<ul class="sidebar-nav">
					<li class="sidebar-nav-link">
						<a href="{% url "index" %}">
							<i class="am-icon-home sidebar-nav-link-logo"></i> 首页
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url 'result_dis' %}">
							<i class="am-icon-clone sidebar-nav-link-logo"></i> 检测结果查看
							<span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm"></span>
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "source_set" %}">
							<i class="am-icon-table sidebar-nav-link-logo" style="color: #0c80ba"></i> 检测来源设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "testrule" %}" class="active">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测规则设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "speed" %}" >
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测批数设置
						</a>
					</li>
                    <li class="sidebar-nav-link">
						<a href="{% url "resexport" %}" >
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测结果导出
						</a>
					</li>
                    <li class="sidebar-nav-heading"></li>
                    <li class="sidebar-nav-link">
                    </li>
			</div>
        </ul>
    {% endblock %}
            {% block content %}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
            <div class="row-content am-cf">
                <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 删除检验规则</div>
                        <p class="page-header-description" style="color: yellowgreen; font-size: larger">删除后不可恢复</p>
                    </div>
                </div>

            </div>
                                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">当前检验名字</label>
                        <div class="am-u-sm-9">
                            <label for="user-name" class="am-u-sm-3 am-form-label">{{ c.name }}</label>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">URL</label>
                        <div class="am-u-sm-9">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">{{ c.url }}</label>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">COOKIE</label>
                        <div class="am-u-sm-9">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">{{ c.cookie }}</label>
                        </div>
                    </div>
                        <div class="am-form-group">
                            <label for="user-intro" class="am-u-sm-3 am-form-label">是否删除</label>
                            <div class="am-u-sm-9">
                                <div class="tpl-switch">
                                    <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" id="cba" >
                                    <div class="tpl-switch-btn-view">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="am-form-group">
                           <label for="user-name" class="am-u-sm-3 am-form-label">是否删除匹配到的结果</label>
                            <div class="am-u-sm-9">
                                <div class="tpl-switch">
                                    <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" id="cb" name="test1" value="1">
                                    <div class="tpl-switch-btn-view">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="ruledelete();"></button><span style="color: yellowgreen;font-size: 20px;" id="rule-set"><span>
                    </div>
                    </div><a href="{% url "testrule" %}"><button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " style="margin-left: 410px">返回</button></a>
                </form>
                            </div>
                        </div>
                    </div>

{% endblock %}
{% block js %}
    function ruledelete() {
            var isChecked1 = $('#cba').prop('checked');
            var isChecked2 = $('#cb').prop('checked');
            $.ajax({
                url: '/webshell/testrule/{{ rule_id }}/setting/{{ c.id }}/delete/',
                type: 'POST',
                data: {is1:isChecked1, is2:isChecked2},
                success:function (callback) {
                    var callback_dict = $.parseJSON(callback);
                    if(callback_dict.status == 1002){
                        $('#rule-set').text('删除成功，3s后返回');
                        $('#rule-set').removeClass('error').addClass('success');
                        setInterval ("settime()", 1500);
                    } else if(callback_dict.status == 1001){
                        $('#rule-set').text(callback_dict.error);
                        $('#rule-set').removeClass('success').addClass('error');
                        setInterval ("cleartext()", 2000);
                    }
                }
            })
        };
    function settime(){
        window.location.href = "{% url "testrule" %}";
    };
    function cleartext(){
        $('#rule-set').text('')
    }
{% endblock %}
