{% extends "base.html" %}
{% block title %}检测来源设置{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
{% block menu %}
				<ul class="sidebar-nav">
					<li class="sidebar-nav-link">
						<a href="{% url "index" %}">
							<i class="am-icon-home sidebar-nav-link-logo"></i> 首页
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url 'result_dis' %}">
							<i class="am-icon-clone sidebar-nav-link-logo"></i> 检测结果查看
							<span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm"></span>
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "source_set" %}" class="active">
							<i class="am-icon-table sidebar-nav-link-logo"></i> 检测来源设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "testrule" %}">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测规则设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "speed" %}" >
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测起始点设置
						</a>
					</li>
                    <li class="sidebar-nav-heading"></li>
                    <li class="sidebar-nav-link">
                    </li>
			</div>
        </ul>
    {% endblock %}
            {% block content %}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">


            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div style="margin-left: 10px;margin-top: 20px">
                                <div class="widget-title am-fl">配置来源数据库</div>

                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-line-form" style="margin-left: 350px;margin-top: 100px">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label" style="font-size: 16px">数据库IP地址</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-ip" name="ip" style="color:yellowgreen;font-size: 20px;width: 200px">
                                            <small>请填写合法的IP地址。</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-3 am-form-label" style="font-size: 16px">数据库端口</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" id="user-port" name="port" style="color:yellowgreen;font-size: 20px;width: 200px">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-3 am-form-label" style="font-size: 16px">数据库名称</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="type" id="user-type" style="color:yellowgreen;font-size: 20px;width: 200px">
                                            <small>请填写Oracle的数据库。</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-3 am-form-label" style="font-size: 16px">数据库用户名</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="username" id="user-username" style="color:yellowgreen;font-size: 20px;width: 200px">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label" style="font-size: 16px">数据库用户密码</label>
                                        <div class="am-u-sm-9">
                                            <input type="password" name="password" id="user-password" style="color:yellowgreen;font-size: 20px;width: 200px">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label" style="font-size: 16px">保存后程序从头检验</label>
                                        <div class="am-u-sm-9">
                                            <div class="tpl-switch">
                                                <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" id="cb">
                                                <div class="tpl-switch-btn-view">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="testsetpost();">保存</button>
                                            <a href="{% url "index" %}"><button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " style="margin-left: 10px;margin-top: 3px">取消并返回</button></a>
                                        </div>
                                    </div>
                                </form>
                                <div>
                                <span style="color: yellowgreen;font-size: larger;margin-left: 670px" id="test-set"></span><span style="color: yellowgreen;font-size: larger" id="test-se"></span>
                                </div>
                                <p style="margin-left: 550px; font-size: 16px">备注:检验程序默认检测EVENT_PROPLIST和EVENT_RECORD两张表的数据</p>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    </div>
                </div>
        </div>
{% endblock %}
{% block js %}
    $(document).ready(function () {
    getsetinfo()
            });
    function getsetinfo() {
        $.ajax({
            url: '{% url "info_get" %}',
            type: 'GET',
            success:function (callback) {
                    var callback_dict = $.parseJSON(callback);
                    $('#user-ip').val(callback_dict.ip);
                    $('#user-port').val(callback_dict.port);
                    $('#user-type').val(callback_dict.type);
                    $('#user-username').val(callback_dict.username);
                    $('#user-password').val(callback_dict.password);
                    }
                })
    };
    function testsetpost() {
            var isChecked = $('#cb').prop('checked');
            var ip = $('#user-ip').val();
            var port = $('#user-port').val();
            var username = $('#user-username').val();
            var password = $('#user-password').val();
            var type = $('#user-type').val();
            $.ajax({
                url: '{% url "info_set" %}',
                type: 'POST',
                data: {ips:ip, ports:port, usernames:username, passwords:password, types:type, ischecked: isChecked},
                cache:false,
                success:function (callback) {
                    var callback_dict = $.parseJSON(callback);
                    if(callback_dict.status == 1002){
                        $('#test-set').text('设置成功，3s后自动返回');
                        $('#test-set').removeClass('error').addClass('success');
                        setInterval ("settime()", 1500);
                    } else if(callback_dict.status == 1001){
                        $('#test-se').text(callback_dict.error);
                        setInterval ("cleartext()", 3000);
                        $('#test-se').removeClass('success').addClass('error');
                    }
                }
            })
        };
    function settime(){
        window.location.href = "{% url "index" %}";
    }
    function cleartext() {
        $('#test-se').text('');
    }
{% endblock %}
