{% extends "base.html" %}
{% block title %}检测起始点设置{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
{% block menu %}
				<ul class="sidebar-nav">
					<li class="sidebar-nav-link">
						<a href="{% url "index" %}">
							<i class="am-icon-home sidebar-nav-link-logo"></i> 首页
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url 'result_dis' %}">
							<i class="am-icon-clone sidebar-nav-link-logo"></i> 检测结果查看
							<span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm"></span>
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "source_set" %}">
							<i class="am-icon-table sidebar-nav-link-logo"></i> 检测来源设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "testrule" %}">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测规则设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "speed" %}" class="active">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测起始点设置
						</a>
					</li>
                    <li class="sidebar-nav-heading"></li>
                    <li class="sidebar-nav-link">
                    </li>
			</div>
        </ul>
    {% endblock %}
            {% block content %}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 检测起始点设置</div>
                        <p class="page-header-description"></p>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div style="margin-left: 10px;margin-top: 20px">
                                <div class="widget-title am-fl">配置检测起始点</div>
                            </div>
                            <div>

                                <form class="am-form tpl-form-line-form" style="margin-left: 200px">
                                         <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label" style="font-size: 16px">当前设置</label>
                                        <div class="am-u-sm-9">
                                            <p type="text" class="tpl-form-input" id="user-s" name="ip" style="color:yellowgreen;font-size: 20px">{{ speed |date:"Y-m-d" }}</p>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label" style="font-size: 16px">检测起始点</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="20170801" class="tpl-form-input" id="user-speed" name="ip" style="color:yellowgreen;font-size: 20px;width: 200px">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="speedset();">保存</button>
                                        </div>
                                    </div>

                                </form>

                                <span style="color: yellowgreen;font-size: 20px;margin-left: 350px" id="speed-set"> </span>
                            </div>
                        </div>
                        <p style="margin-left: 500px;font-size: 16px">备注:检测起始点未设置时,默认从当前月1号开始检测</p>
                    </div>
                </div>
        </div>
{% endblock %}
{% block js %}
    function speedset() {
            var user = $('#user-speed').val();
            $.ajax({
                url: '{% url "speedset" %}',
                type: 'POST',
                data: {speed:user},
                success:function (callback) {
                    var callback_dict = $.parseJSON(callback);
                    if(callback_dict.status == 1002){
                        $('#speed-set').text('设置成功，3s后返回');
                        $('#speed-set').removeClass('error').addClass('success');
                        setInterval ("settime()", 1500);
                    } else if(callback_dict.status == 1001){
                        $('#speed-set').text(callback_dict.error);
                        $('#speed-set').removeClass('success').addClass('error');
                        setInterval ("cleartext()", 2000);
                    }
                }
            })
        };
    function settime(){
        window.location.href = "{% url "index" %}";
    };
    function cleartext(){
        $('#speed-set').text('')
    }
{% endblock %}
