{% extends "base.html" %}
{% block title %}Test Source{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
{% block menu %}
    <ul class="sidebar-nav">
					<li class="sidebar-nav-link">
						<a href="{% url "index" %}">
							<i class="am-icon-home sidebar-nav-link-logo"></i> 首页
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url 'result_dis' %}">
							<i class="am-icon-clone sidebar-nav-link-logo"></i> 检测结果查看
							<span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm"></span>
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "source_set" %}" class="active">
							<i class="am-icon-table sidebar-nav-link-logo" style="color: #0c80ba"></i> 检测来源设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "testrule" %}">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测规则设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "speed" %}" >
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测批数设置
						</a>
					</li>
                    <li class="sidebar-nav-link">
						<a href="{% url "resexport" %}" >
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测结果导出
						</a>
					</li>
                    <li class="sidebar-nav-heading"></li>
                    <li class="sidebar-nav-link">
                    </li>
			</div>
        </ul>
{% endblock %}
            {% block content %}
			<!-- 内容区域 -->

			<div class="tpl-content-wrapper">

				<div class="container-fluid am-cf">
					<div class="row">
						<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
							<div class="page-header-heading"><span class="am-icon-home page-header-heading-icon">检验来源</span><small></small></div>
							<p class="page-header-description">目前只支持HTTP检测。</p>
						</div>
					</div>

				</div>

				<div class="row-content am-cf">
		                	<div class="row  am-cf">
					<div class="row am-cf">

					<div class="row am-cf">

						<div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg">

							<div class="widget am-cf widget-body-lg">

								<div class="widget-body  am-fr">
									<div class="am-scrollable-horizontal ">
										<table width="200%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
											<thead>
												<tr>
													<th style="font-size: 20px">IP地址</th>
													<th style="font-size: 20px">端口</th>
													<th style="font-size: 20px">数据库</th>
                                                    <th style="font-size: 20px">用户名</th>
                                                    <th style="font-size: 20px">用户密码</th>
                                                    <th style="font-size: 20px">检验表单</th>
                                                    <th style="font-size: 20px">操作</th>
												</tr>
											</thead>
											<tbody>
                                                <tr class="gradeX" style="width:200px; height:50px;">
													<td>{{ dbinfo.host }}</td>
													<td>{{ dbinfo.port }}</td>
													<td>{{ dbinfo.type }} </td>
                                                    <td>{{ dbinfo.username }}</td>
                                                    <td>******</td>
                                                    <td>{{ dbinfo.table }}</td>
                                                    <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="{% url "source_set" %}" style="font-size: 20px">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                    </div></td>
												</tr>
												<!-- more data -->
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
        {% endblock %}
     {% block js %}{% endblock %}
