{% extends "base.html" %}
{% block title %}Webshell Index{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
 {% block content %}
     <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 账户设置</div>
                        <p class="page-header-description"></p>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl"> 设置表单</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <form class="am-form tpl-form-line-form" method="post" action="{% url 'accountset' %}">
                                {% csrf_token %}

                                    {% for item in form %}
                                        <div class="am-form-group">
                                            <label for="user-name" class="am-u-sm-3 am-form-label">{{item.label}}</label>
                                            <div class="am-u-sm-9">
                                                {{item}}
                                            </div>
                                            <div class="am-u-sm-9">
                                                {{item.errors}}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    </div>
                </div>
        </div>

{% endblock %}
{% block js %}{% endblock %}
