<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}{% endblock %}</title>
        {% load staticfiles %}
		<meta name="description" content="这是一个 index 页面">
		<meta name="keywords" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" CONTENT="0">
        <meta http-equiv="Pragma" CONTENT="no-cache">
        <link rel="icon" type="image/png" href="{% static "i/favicon.png" %}" />
        <link rel="icon" type="image/png" href="{% static "i/app-icon72x72@2x.png" %}" />
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <script src="{% static "js/jquery-3.0.0.min.js" %}"></script>
        <script src="{% static "js/echarts.min.js" %}"></script>
        <link href="{% static "css/amazeui.min.css" %}" rel="stylesheet">
        <link href="{% static "css/amazeui.datatables.min.css" %}" rel="stylesheet">
        <link href="{% static "css/app.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/Pygments.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
	</head>
<body data-type="index" style="margin-top: -50px">
            <script src="{% static "js/theme.js" %}"></script>
				<div class="tpl-header-fluid">
					<div class="am-fr tpl-header-navbar">
						<ul>

							<!-- 欢迎语 -->
							<li class="am-text-sm tpl-header-navbar-welcome">
								<p style="font-size: 20px;margin-top: 13px">欢迎你, <span>{% block welcome %}{% endblock %}</span> </p>
							</li>
							<li class="am-text-sm">
								<a href="{% url "log_out" %}" style="font-size: 20px">
									<span class="am-icon-sign-out"></span> 退出
								</a>
							</li>
						</ul>
					</div>
				</div>



			<!-- 侧边导航栏 -->
			<div class="left-sidebar">

				<!-- 用户信息 -->
				<div class="tpl-sidebar-user-panel">

					<div class="tpl-user-panel-slide-toggleable">
						<span class="user-panel-logged-in-text" style="font-size: 20px;margin-top: 50px">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
            {% block name %}{% endblock %}
          </span><a href="{% url "accountform" %}" class="tpl-user-panel-action-link" style="font-size: 20px;"> <span class="am-icon-pencil"></span> 账号设置</a>
					</div>
				</div>

				<!-- 菜单 -->
            {% block menu %}
				<ul class="sidebar-nav">
					<li class="sidebar-nav-link">
						<a href="{% url "index" %}" class="active">
							<i class="am-icon-home sidebar-nav-link-logo"></i> 首页
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url 'result_dis' %}">
							<i class="am-icon-clone sidebar-nav-link-logo"></i> 检测结果查看
							<span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm"></span>
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "test_source" %}">
							<i class="am-icon-table sidebar-nav-link-logo" style="color: #0c80ba"></i> 检测来源设置
						</a>
					</li>					
					<li class="sidebar-nav-link">
						<a href="{% url "testrule" %}">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测规则设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "speed" %}" >
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测批数设置
						</a>
					</li>
                    <li class="sidebar-nav-heading"></li>
                    <li class="sidebar-nav-link">
                    </li>
			</div>
        </ul>
    {% endblock %}
             {% block content %}
			<!-- 内容区域 -->
			<div class="tpl-content-wrapper">

				<div class="container-fluid am-cf">
					<div class="row">
						<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
							<div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 流量 <small>检测系统</small></div>
							<p class="page-header-description">目前只支持HTTP检测。</p>
						</div>
						<div class="am-u-lg-3 tpl-index-settings-button">
							<button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 系统设置</button>
						</div>
					</div>

				</div>

				<div class="row-content am-cf">
					<div class="row  am-cf">
						<div class="am-u-sm-4 am-u-md-4 am-u-lg-4">
							<div class="widget am-cf">
								<div class="widget-head am-cf">
									<div class="widget-title am-fl">本月累计检测数据</div>
									<div class="widget-function am-fr">
										<a href="javascript:;" class="am-icon-cog"></a>
									</div>
								</div>
								<div class="widget-body am-fr">
									<div class="am-fl">
										<div class="widget-fluctuation-period-text">
											61,746
											<button class="widget-fluctuation-tpl-btn">
                        <i class="am-icon-calendar"></i>
                        更多月份
                      </button>
										</div>
									</div>
									<div class="am-fr am-cf">
										<div class="widget-fluctuation-description-amount am-text-danger" am-cf>
											303

										</div>
										<div class="widget-fluctuation-description-text am-text-right">
											检测有害信息
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="am-u-sm-4 am-u-md-4 am-u-lg-4">
							<div class="widget widget-primary am-cf">
								<div class="widget-statistic-header">
									 待检测数据
								</div>
								<div class="widget-statistic-body">
									<div class="widget-statistic-value">
										254,574
									</div>
									<div class="widget-statistic-description">
										预计 3‘h 内检测完成
									</div>
									<span class="widget-statistic-icon am-icon-credit-card-alt"></span>
								</div>
							</div>
						</div>
						<div class="am-u-sm-4 am-u-md-4 am-u-lg-4">
							<div class="widget widget-purple am-cf">
								<div class="widget-statistic-header">
									等待查看的结果
								</div>
								<div class="widget-statistic-body">
									<div class="widget-statistic-value">
										234
									</div>
									<div class="widget-statistic-description">
										最后一条时间 <strong>2017-06-04</strong>
									</div>
									<span class="widget-statistic-icon am-icon-support"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="row am-cf">
						<div class="am-u-sm-12 am-u-md-8">
							<div class="widget am-cf">
								<div class="widget-head am-cf">
									<div class="widget-title am-fl">本月检测情况</div>
									<div class="widget-function am-fr">
										<a href="javascript:;" class="am-icon-cog"></a>
									</div>
								</div>
								<div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echarts">

								</div>
							</div>
						</div>

						<div class="am-u-sm-12 am-u-md-4">
							<div class="widget am-cf">
								<div class="widget-body widget-body-md am-fr">
								</div>
							</div>
						</div>
					</div>

					<div class="row am-cf">

						<div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg">

							<div class="widget am-cf widget-body-lg">

								<div class="widget-body  am-fr">
									<div class="am-scrollable-horizontal ">
										<table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
											<thead>
												<tr>
													<th>检测时间</th>
													<th>检测类型</th>
													<th>检测来源</th>
													<th>检测结果</th>
												</tr>
											</thead>
											<tbody>
												<tr class="gradeX">
													<td>2016-09-26 </td>
													<td>webshell</td>
													<td>中国 3419246488 3736744844 2329 63777 36:55: 7890AB .... </td>
													<td><span class="am-icon-check" style="color:greenyellow"></span></td>
												</tr>
												<tr class="gradeX">
													<td>2016-09-26 </td>
													<td>webshell</td>
													<td>中国 3419246488 3736744844 2329 63777 36:55: 7890AB .... </td>
													<td><span class="am-icon-close" style="color:crimson"></span></td>
												</tr>
												<tr class="gradeX">
													<td>2016-09-26 </td>
													<td>webshell</td>
													<td>中国 3419246488 3736744844 2329 63777 36:55: 7890AB .... </td>
													<td><span class="am-icon-close" style="color:crimson"></span></td>
												</tr>
												<tr class="gradeX">
													<td>2016-09-26 </td>
													<td>webshell</td>
													<td>中国 3419246488 3736744844 2329 63777 36:55: 7890AB .... </td>
													<td><span class="am-icon-check" style="color:greenyellow"></span></td>
												</tr>												
												<!-- more data -->
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
        {% endblock %}
        <script src="{% static "js/amazeui.min.js" %}"></script>
		<script src="{% static "js/amazeui.datatables.min.js" %}"></script>
		<script src="{% static "js/dataTables.responsive.min.js" %}"></script>
		<script src="{% static "js/app.js" %}"></script>
        <script>{% block js %}
        {% endblock %}</script>
        {% block other %}{% endblock %}
	</body>

</html>