{% extends "base.html" %}
{% block title %}Speed Set{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
{% block menu %}
    <ul class="sidebar-nav">
					<li class="sidebar-nav-link">
						<a href="{% url "index" %}">
							<i class="am-icon-home sidebar-nav-link-logo"></i> 首页
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url 'result_dis' %}">
							<i class="am-icon-clone sidebar-nav-link-logo"></i> 检测结果查看
							<span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm"></span>
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "test_source" %}">
							<i class="am-icon-table sidebar-nav-link-logo" style="color: #0c80ba"></i> 检测来源设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "testrule" %}">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测规则设置
						</a>
					</li>
					<li class="sidebar-nav-link">
						<a href="{% url "speed" %}" class="active">
							<i class="am-icon-calendar sidebar-nav-link-logo"></i> 检测批数设置
						</a>
					</li>
                    <li class="sidebar-nav-heading"></li>
                    <li class="sidebar-nav-link">
                    </li>
			</div>
        </ul>
{% endblock %}
            {% block content %}

<body data-type="login">
        <!-- 风格切换 -->

        <div class="tpl-login">
            <div class="tpl-login-content">
                         <a href="{% url "index" %}"><button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " style="margin-left: 500px">撤销</button></a>

                <div class="tpl-login-title">每批检验数量设置</div>


                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">当前检验数量 <span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">{{ speed }}</label>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">设置 <span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" id="user-speed" placeholder="请设置" name="speed" style="color:yellowgreen;font-size: 20px">
                            <span id="speed-set" style="color: yellowgreen; "></span>
                        </div>
                    </div>
                    <div class="am-form-group">

                        <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" onclick="speedset();">提交</button>

                    </div>
                </form>
                {% endblock %}
{% block js %}
    function speedset() {
            var user = $('#user-speed').val();
            $.ajax({
                url: '/webshell/speed/speedset',
                type: 'POST',
                data: {speed:user},
                success:function (callback) {
                    var callback_dict = $.parseJSON(callback);
                    if(callback_dict.status == 1002){
                        $('#speed-set').text('设置成功，3s后返回');
                        $('#speed-set').removeClass('error').addClass('success');
                        setInterval ("settime()", 1500);
                    } else if(callback_dict.status == 1001){
                        $('#speed-set').text(callback_dict.error);
                        $('#speed-set').removeClass('success').addClass('error');
                    }
                }
            })
        };
    function settime(){
        window.location.href = "{% url "index" %}";
    };
{% endblock %}
