{% extends "base.html" %}
{% block title %}Test Rule Delete{% endblock %}
{% block welcome %}{{ user }}{% endblock %}
{% block name %}{{ user }}{% endblock %}
            {% block content %}

<body data-type="login">
        <!-- 风格切换 -->

            <div class="tpl-login">
                <div class="tpl-login-content">
                <div class="tpl-login-title">删除 <span style="color: red; font-size: 20px;">确认后不可恢复</span></div>
                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">当前检验名字</label>
                        <div class="am-u-sm-9">
                            <label for="user-name" class="am-u-sm-3 am-form-label">{{ c.name }}</label>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">URL</label>
                        <div class="am-u-sm-9">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">{{ c.url }}</label>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">COOKIE</label>
                        <div class="am-u-sm-9">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">{{ c.cookie }}</label>
                        </div>
                    </div>
                        <div class="am-form-group">
                            <label for="user-intro" class="am-u-sm-3 am-form-label">是否删除</label>
                            <div class="am-u-sm-9">
                                <div class="tpl-switch">
                                    <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" id="cba" >
                                    <div class="tpl-switch-btn-view">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="am-form-group">
                           <label for="user-name" class="am-u-sm-3 am-form-label">是否删除匹配到的结果</label>
                            <div class="am-u-sm-9">
                                <div class="tpl-switch">
                                    <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" id="cb" >
                                    <div class="tpl-switch-btn-view">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="ruledelete();">提交</button><span style="color: red" id="rule-set"><span>
                            <a href="{% url 'index' %}"><button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">撤销</button></a>
                    </div>
                    </div>
                </form>
            </div>
            </div>
                {% endblock %}
{% block js %}
    function ruledelete() {
            var isChecked1 = $('#cba').prop('checked');
            var isChecked2 = $('#cb').prop('checked');
            $.ajax({
                url: '/webshell/testrule/{{ rule_id }}/setting/{{ c.id }}/delete/',
                type: 'POST',
                data: {is1:isChecked1, is2:isChecked2},
                success:function (callback) {
                    var callback_dict = $.parseJSON(callback);
                    if(callback_dict.status == 1002){
                        $('#rule-set').text('删除成功，请返回');
                        $('#rule-set').removeClass('error').addClass('success');
                    } else if(callback_dict.status == 1001){
                        $('#rule-set').text(callback_dict.error);
                        $('#rule-set').removeClass('success').addClass('error');
                    }
                }
            })
        }
{% endblock %}
