<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webshell Login</title>
    {% load staticfiles %}
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{% static "css/amazeuis.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/app.css" %}">
        <script src="{% static "js/jquery.min.js" %}"></script>
	</head>

	<body data-type="index">
		<script src="{% static "js/theme.js" %}"></script>
		<div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-title">请登录</div>
                <form class="am-form tpl-form-line-form" action="{% url "log_handle" %}" method="post">
                    {% csrf_token %}
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="user-name" placeholder="用户名" name="username" onblur="accountcheck()">
                    </div><span id="status"></span>
                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input"   placeholder="请输入密码" name="password" >
                    </div>
                    {% if error %}<span style="color: red">{{ error }}</span>{% endif %}
                    <div class="am-form-group">

                        <input type="submit" value="登陆" class="am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" />

                    </div>
                </form>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            function accountcheck() {
                var user = $('#user-name').val();
                $.ajax({
                    url: '/accountcheck/',
                    type: 'POST',
                    data: {username:user},
                    success:function (callback) {
                        var callback_dict = $.parseJSON(callback);
                         if(callback_dict.status == 1001) {
                             $('#status').text(callback_dict.error);
                             $('#status').css('color', 'crimson');
                             $('#status').fadeOut(5000);
                         }
                }
            })
        }
        </script>
</body>
</html>